.quote {
    text-align: center;
    padding: 50px 10px 50px 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.quote p {
    font-style: normal;
    font-size: 1.9rem;
    font-weight: 600;
}

.btn-rounded {
    background-color: #38211A;
    color: #F7F1E6;
    border: 3px solid #38211A;
}

.btn-rounded:hover {
    background-color: #F7F1E6;
    color: #38211A;
    border: 3px solid #38211A;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 150px;
    gap: 80px;
}

/* FORMULAIRE */
.contact-left {
    flex: 1;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 3px solid #38211A;
    background: transparent;
    color: #38211A;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 15px;
}

.contact-form textarea {
    height: 150px; /* plus grand pour le message */
    resize: none;
}

/* LIGNE DE SÉPARATION */
.contact-divider {
    width: 1px;
    height: 500px;
    background: #38211A;
}

/* RÉSEAUX */
.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-right span {
    display: flex;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: inherit;
}

.contact-right p {
    margin: 0;
    font-weight: 500;
}

.social-link img {
    height: 40px;
    width: auto;
    transition: transform 0.3s;
}

.social-link:hover img {
    transform: scale(1.04);
}

.success-message {
    display: none;
    margin-top: 20px;
    text-align: center;
    line-height: 1.6;
}

@media (max-width: 600px) {

    .quote {
        padding: 10px 10px 30px 10px;
    }

    .quote p {
        font-size: 1rem;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 0px 10px 20px 10px;
    }

    .contact-divider {
        display: none;
    }

    .contact-left {
        margin-bottom: 30px;
    }
}